.trending{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background-color: #F3F5F8;
    text-align: center;
    height: 100%;
    padding: 30px 0;

}

h3{

    color: $main-color;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;

}

.trending p{

    font-family: 'Roboto' sans-serif;
    margin-bottom: 30px;

}

.gifos{

    
    margin: 0 10px;
    width: 300px;
    height: 250px;
    cursor: pointer;

}

.gif-container{

    display: flex;
    align-items: center;
    justify-content: start;
    height: 280px;

}

.sugerencias-anim{

    width: 80%;
    max-height: 155px;
    overflow: hidden;
    display: none;
    background-color: white;
    border: 1px solid $main-color;
    border-radius: 20px;
    text-align: left;

}

.animacion-sugerencias{

    animation: appear 0.5s linear;
    animation-timing-function: ease-in;

}

@keyframes appear{

    0%{
        opacity: 0;
        transform: translateY(-80px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }

}

.sugerencias-on{

    display: inline;
    height: 155px;

}



#sugerencias p{

    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.p-busqueda-open::before{

    content: url('/assets/icon-search.svg');
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.8);

}

.img-search-container{
    
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    

}

.btnpasargif{
    display: none;
}


.gif-padre{

    width: 100%;
    overflow-x: scroll;
    /* margin: 0 10px; */
    display: flex;
    justify-content: center;

}

.frena-botones{

    width: 100%;
    display: flex;
    
}

