// COLORES

$main-color: #572EE5;
$second-color: #50E3C2;


// FUENTES

$main-font: 'Montserrat', sans-serif;

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    
    

}

// MIXINS

@mixin boton {
    
    width: 127px;
    height: 50px;
    background-color: white;
    color: $main-color;
    border-radius: 50px;
    border: 1px solid $main-color;
    cursor: pointer;
    outline: none;

}

.boton-vermas{

    width: 127px;
    height: 50px;
    margin-top: 50px;
    background-color: white;
    color: $main-color;
    border-radius: 50px;
    border: 1px solid $main-color;
    cursor: pointer;
    outline: none;
    display: none;

}

body{

    transition: all 1s;

}



.gifo-hover{

    width: 300px;
    height: 250px;
    background-color: $main-color;
    opacity: 0;
    margin-top: -254px;
    position: absolute;
    margin-left: 10px;

    &:hover{

        opacity: 0.7;

    }

}

.imghover{

    width: 300px;
    height: 250px;

}


.desc{

    margin-top: 120px;
    margin-left: 20px;
    opacity: 1;

}

.desc p{

    margin: 10px;

}

.iconos{

    margin-left: 180px;
    margin-top: 10px;

}


