.oscuro{

    background-color: #37383c;

}

.texto-nocturno{

    color: white

}

.divlogo-nocturno{

    background-image: url('./assets/logo-modo-noc.svg');

}

.lupa-nocturno{

    background-image: url('./assets/icon-search-modo-noct.svg');

}

.buscador-nocturno{

    background-color: #37383c;
    color: white;
    border: 1px solid white;

}

.backmain{

    background-color: #222326;

}

.logo-nocturno{

    background-image: url('./assets/logo-mobile-modo-noct.svg');
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.close-mobile-nocturno{

    background-image: url('./assets/close-modo-noct.svg');

}

.burger-mobile-nocturno{

    background-image: url('./assets/burger-modo-noct.svg');

}

/* #222326 */